<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Jean's Shopping Plaza</a>
  <div class="collapse navbar-collapse">
  
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="signin" *ngIf="!userLogged">Sign in</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          My Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="profile">My profile</a>
          <a class="dropdown-item" href="#">Change password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="userLogout()" *ngIf="userLogged">Log out</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cart" tabindex="-1" aria-disabled="true"><i class="fas fa-shopping-cart"></i> Cart</a>
      </li>
    </ul>
  </div>
</nav>