<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Returning customer</h1>
      <form>
        <div class="row">
          <div class="col-sm-6 form-group">
            <label for="email">Email address:</label>
            <input type="text" id="email" class="form-group">
          </div>
          <div class="col-sm-6 form-group">
            <label for="password">Password:</label>
            <input type="text" id="password" class="form-group">
          </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
              <button class="btn btn-success" type="submit">Add</button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>