.stars{
    padding-right: 0px;
}

.starProgress{
    padding: 5px;
}

.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  .full {
    color: red;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: red;
  }

  .stars-container {
    position: relative;
    display: inline-block;
    color: transparent;
    font-size: 30px;
  }
  
  .stars-container:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color:lightgray;
  }
  
  .stars-container:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: gold;
    overflow: hidden;
  }

  #currentStar {
    --width: 0%;
  }

  #currentStar:after {
    width: var(--width);
  }