<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-6 col-md-6">
      <img
        src="https://www.fresh.com/on/demandware.static/-/Sites-Master/default/dwf6d11daf/products/Products_490/MeTimeTeaTime1_490.jpg"
        alt="" class="img-responsive img-thumbnail">
    </div>
    <div class="col-lg-6 col-md-6 text-center">
      <h1 class="itemName">{{item.name}}</h1>
      <div>
        <label>Qty:
          <select>
            <option *ngFor="let i of quantity">{{i}}</option>
          </select>
        </label>
      </div>

      <h3>
        <span class="text-danger">{{item.price | currency}}</span><small> / each</small>
      </h3>
      <button type="button" class="btn btn-secondary">Add to Cart <i class="fas fa-shopping-cart"></i></button><br>
      <small><a routerLink="review" (click)="postReview()">Write a review</a></small>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-lg-4 col-md-4">
      <h3>{{totalReview ? totalReview : "0"}} customer reviews</h3>
      <span class="stars-container" id="currentStar">★★★★★</span>
      <p *ngIf="totalReview>0">{{overallRating | number : '1.2-2' }} out of 5 stars</p>

      <!-- <div class="row">
        <div class="col-lg-2 stars">5 star</div>
        <div class="col-lg-10 starProgress">
          <div class="progress">
            <div class="progress-bar progress-bar-warning active" style="width:50%;">
              50%
            </div>
          </div>
        </div>
      </div> -->
    </div>

    <div class="col-lg-8 col-md-8" *ngIf="totalReview>0">
      <div *ngFor="let item of reviews | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <h5><i class="far fa-user-circle fa-lg"></i> {{item.username ? item.username : "Customer"}}</h5>
        <ng-template #t let-fill="fill">
          <span class="star" [class.full]="fill === 100">
            <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
          </span>
        </ng-template>
        <ngb-rating [(rate)]="item.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
        <!-- <pre>Rate: <b>{{item.rating}}</b></pre> -->
        <p class="lead">{{item.message}}</p>
        <p><small>{{item.date}}</small></p>
        <hr>
      </div>
      <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="reviews.length" [boundaryLinks]="true">
      </ngb-pagination>
    </div>
  </div>

</div>