<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <img
        src="https://www.fresh.com/on/demandware.static/-/Sites-Master/default/dwf6d11daf/products/Products_490/MeTimeTeaTime1_490.jpg"
        alt="">
    </div>
    <div class="col-md-5">
      <h1 class="itemName">{{item.name}}</h1>
      <label>Qty:</label>
      <select>
        <option *ngFor="let i of quantity">{{i}}</option>
      </select>
      <p>{{item.price | currency}} / each</p>
      <button type="button" class="btn btn-secondary">Add to Cart</button>
      <p>Overall Rating: {{rating}}</p>
      <small>reviews</small><br>
      <small>Write a review</small>
    </div>
  </div>
</div>