<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <img
        src="https://www.fresh.com/on/demandware.static/-/Sites-Master/default/dwf6d11daf/products/Products_490/MeTimeTeaTime1_490.jpg"
        alt="">
    </div>
    <div class="col-md-5">
      <h1 class="itemName">{{item.name}}</h1>
      <label>Qty:</label>
      <select>
        <option *ngFor="let i of quantity">{{i}}</option>
      </select>
      <p>{{item.price | currency}} / each</p>
      <button type="button" class="btn btn-secondary">Add to Cart</button>

      <small>reviews</small><br>
      <!-- <small><a routerLink="review" >Write a review</a></small> -->
      <small><a routerLink="review" (click)="postReview()">Write a review</a></small>
    </div>

    <div *ngFor="let review of reviews">
      <p>{{review.message}}</p>
      <p>{{review.rating}}</p>
      <p>{{review.username}}</p>
      <p>{{review.date}}</p>
    </div>
  </div>
</div>