<div class="container">
    <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="&#xF002;  Start searching for a item by name">
    </div>

<div class="itemsBox">
    <div *ngFor="let item of items | filterItems: searchText" class=itemBox>
        <img src="https://www.fresh.com/on/demandware.static/-/Sites-Master/default/dwb4f113ff/products/Products_490/PrepAndPout_490_1.jpg" alt="">
        <h4><a [routerLink]="['/item', item.id]">
            {{item.name}}</a></h4>
        <p>{{item.category}}</p>
        <h5>{{item.price | currency}}</h5>
        <button class="btn btn-outline-secondary"><i class="fas fa-shopping-cart"></i> Add to cart</button>
    </div>
</div>
</div>