<div class="container">
    <div class="row search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="&#xF002;  Start searching for a item by name">
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 itemBox" *ngFor="let item of items | filterItems: searchText">
            <img src="https://www.fresh.com/on/demandware.static/-/Sites-Master/default/dwb4f113ff/products/Products_490/PrepAndPout_490_1.jpg"
                alt="">
            <i class="addCart fas fa-3x fa-cart-plus" (click)="addCart(item.id)"></i>
            <h4>
                <a [routerLink]="['/item', item.id]">
                    {{item.name}}
                </a>
            </h4>
            <div class="priceBox">
                <h3>{{item.price | currency}}</h3>
            </div>
            <!-- <p>{{item.category}}</p> -->
            <!-- <button class="btn btn-outline-secondary"><i class="fas fa-shopping-cart"></i> Add to cart</button> -->
        </div>
    </div>
</div>
<app-cart></app-cart>