<!-- <app-navbar></app-navbar> -->
<div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" 
        placeholder="&#xF002;  Start searching for a item by name" style="font-family:Arial, FontAwesome">

</div>
<div class="container itemsBox">
    <div *ngFor="let item of items | filterItems: searchText" class=itemBox>
        <img src="https://source.unsplash.com/1600x900/?nature+{{item.category}}" alt="">
        <h4>{{item.name}}</h4>
        <p>{{item.category}}</p>
        <h5>{{item.price | currency}}</h5>

    </div>
</div>