img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 15px;
}

.itemsBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.itemBox{
    flex-basis: 20%;
    border: 1px solid #ddd;
    text-align: center;
    margin: 2px;
}

.search-hero input{
    font-family:Arial, FontAwesome;
    margin-top: 10px;
}