<div class="alertMessage">
  <h5 *ngIf="showError">This email id has been registered. Please <a routerLink='/forgetpw'>reset your password</a> or use another email id</h5>
{{errMessage}}
</div>
<form [formGroup]='registerForm'>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input type="email" required class="form-control" formControlName='regisEmail' value='regisemailGetter.value'>
    <div class="alertMessage" *ngIf="regisemailGetter.invalid && (regisemailGetter.dirty || regisemailGetter.touched)">
      <div *ngIf="regisemailGetter.errors['required']">Email is required</div>
      <div *ngIf="regisemailGetter.errors">Please enter correct Email format</div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail">User Name</label> 
    <input type="text" class="form-control" formControlName='regisUserName' value='regisUserNameGetter.value'>
      <div class="alertMessage" *ngIf="regisUserNameGetter.invalid && (regisUserNameGetter.dirty || regisUserNameGetter.touched)">
        <div *ngIf="regisUserNameGetter.errors['required']">User name is required</div>
        <div *ngIf="regisUserNameGetter.errors">Minimum lengths for user name is 5</div>
      </div>
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" formControlName='regisPassword' name="regisPassword" value='regisPasswordGetter.value'>
      <div class="alertMessage" *ngIf="regisPasswordGetter.invalid && (regisPasswordGetter.dirty || regisPasswordGetter.touched)">
        <div *ngIf="regisPasswordGetter.errors['required']">Password is required</div>
        <div *ngIf="regisPasswordGetter.errors">Minimum lengths for password is 5</div>
      </div>
  </div>
  <div class="form-group">
    <label for="inputPassword">Confirm Password</label>
    <input type="password" class="form-control" formControlName='cfPassword' value='cfPasswordGetter.value' compare="regisPassword" required>
    <div class="alertMessage" *ngIf="cfPasswordGetter.invalid && (cfPasswordGetter.dirty || cfPasswordGetter.touched)">
        <div *ngIf="cfPasswordGetter.errors['required']">Password confirm is required</div>
        <div *ngIf="cfPasswordGetter.errors['compare']">Password confirm do not match</div>
      </div>
  </div>
  <button [disabled]='regisDisabled' #btn (click)='regisSubmit()' type="submit"
    class="btn btn-primary">Register</button>
</form>